.follow-btn,
.subscribe-btn {
    border-radius: 10px;
    background-color: #9774f7;
    color: white;
    padding: 16px 32px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
}

.subscribe-btn {
    color: #9774f7;
    background-color: #fafafa;
}

.subscribe-btn:hover {
    background-color: #ededee;
}

.follow-btn:hover {
    background-color: #6e54b5;
}