#wrapper {
    text-align: center;
}

.read-more-btn {
    text-transform: capitalize;
    color: #fff;
    background: #4f92be;
    padding: 5px 12px 8px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    text-decoration: none;
    transition: 0.5s ease;
}

.read-more-btn:hover {
    background: #2f688d;
}